@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
$brown: #A87328;
$blue: #8533ff;
$umber: #54290C;
$springer: #EDED80;

* {
  box-sizing: border-box;
  margin: 0;
  margin-bottom: auto;
  padding: 0;
}

html, body {
  min-height: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  background-repeat: no-repeat;
  background-size: calc(30vw + 500vh + 500vmin);
  background-position: auto;
}

p {
  margin: 15px 0;
  line-height: 1.8;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

img {
  width: 100%;
  border-radius: 10px;
}

header {
  background: black;
  color: #fff;
  padding: 5px;
  margin-bottom: 40px;
}

header a {
  color: #fff;
}

.container {
  max-width: 768px;
  margin: auto;
  overflow: auto;
  padding: 0 10px;
}

.btn {
  display: inline-block;
  background: steelblue;
  color: #fff;
  margin: 5px;
  border: none;
  padding: 8px 26px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  transform: scale(0.98);
}

.btn-back {
  background: #fff;
  color: #000;
  margin: 2em;
  box-shadow: 0px 2px 8px 0 #000;
}

.posts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.card {
  padding: 15px;
  margin: 1em;
  border-radius: 10px;
  box-shadow: 0 4px 8px 5px rgba(0, 0, 0, 0.2);
}

.card-page {
  padding: 15px 30px;
  font-size: calc(1vw + 1vh + 0.5vmin);
}

.post-title {
  margin: 10px 0;
}

.post-date {
  margin-bottom: 20px;
  padding: 3px 10px;
}

.post-body {
  font-size: 80%;
}

.post-body ul,
ol {
  margin: 1em;
  line-height: 2.3;
  font-weight: bold;
  margin: 10px 0;
}

.post-body pre {
  background: #f4f4f4;
  margin: 1em;
  padding: 20px;
  margin: 20px 0;
  line-height: 2.3;
}

@media (max-width: 500px) {
  .posts {
    grid-template-columns: 1fr;
  }
}

.nav-bar {
  position: absolute;
  width: max-content;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: calc(1vw + 1vh + 0.08vmin);
  
}

.nav-bar a {
  padding: 5px;
  text-decoration: underline solid black !important;
  color: #000000;
  text-decoration: none;
  font-size: 1.2em;
  font-size: 2wv;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 0 80px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.nav-bar a:hover {
  color: #ff0404;
  text-decoration: underline solid #ff0404 !important;

}

// .nav-bar .dot {
//   width: 6px;
//   height: 6px;
//   background: #ff0404;
//   border-radius: 50%;
//   opacity: 0;
//   -webkit-transform: translateX(30px);
//   transform: translateX(30px);
//   -webkit-transition: all 0.2s ease-in-out;
//   transition: all 0.2s ease-in-out;
// }

// .nav-bar a:nth-child(1):hover ~ .dot {
//   -webkit-transform: translateX(30px);
//   transform: translateX(30px);
//   -webkit-transition: all 0.2s ease-in-out;
//   transition: all 0.2s ease-in-out;
//   opacity: 1;
// }

// .nav-bar a:nth-child(2):hover ~ .dot {
//   -webkit-transform: translateX(100px);
//   transform: translateX(100px);
//   -webkit-transition: all 0.2s ease-in-out;
//   transition: all 0.2s ease-in-out;
//   opacity: 1;
// }

// .nav-bar a:nth-child(3):hover ~ .dot {
//   -webkit-transform: translateX(190px);
//   transform: translateX(190px);
//   -webkit-transition: all 0.2s ease-in-out;
//   transition: all 0.2s ease-in-out;
//   opacity: 1;
// }

// .nav-bar a:nth-child(4):hover ~ .dot {
//   -webkit-transform: translateX(300px);
//   transform: translateX(300px);
//   -webkit-transition: all 0.2s ease-in-out;
//   transition: all 0.2s ease-in-out;
//   opacity: 1;
// }

// .nav-bar a:nth-child(5):hover ~ .dot {
//   -webkit-transform: translateX(410px);
//   transform: translateX(410px);
//   -webkit-transition: all 0.2s ease-in-out;
//   transition: all 0.2s ease-in-out;
//   opacity: 1;
// }

// .nav-bar a:nth-child(6):hover ~ .dot {
//   -webkit-transform: translateX(490px);
//   transform: translateX(490px);
//   -webkit-transition: all 0.2s ease-in-out;
//   transition: all 0.2s ease-in-out;
//   opacity: 1;
// }

.intro-image {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.intro-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.intro-text h1 {
  padding: 10px;
  font-size: calc(2vw + 1vh + 0.5vmin);
  display: flex;
  justify-content: center;
}

.intro {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  margin-right: 30px;
  margin-left: 30px;
  justify-content: center;
}
.social-links {
  align-content: center;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.link {
  padding: 10px;
}

.bookshelf {
  width: 80%;
  height: 100%;
  margin: 2em auto;
  border: 10px #A87328 solid;
  overflow: hidden;
  background-image: linear-gradient(darken(#A87328, 32%), darken(#A87328, 30%) 220px, lighten(#A87328, 4%) 220px, 
    lighten(#A87328, 4%) 222px, #A87328 222px, #A87328 228px, darken(#A87328, 4%) 228px, darken(#A87328, 4%) 230px);
  background-size: 10px 230px;
  box-shadow: 0px 1000px 0px 400px #7A7668;
}

.book {
  height: 200px;
  width: 40px;
  float: left;
  color: white;
  font-size: 0.8em;
  margin-bottom: 10px;
  margin-top: 20px;
  transition: transform 0.4s ease;
}

.book:hover {
  transform: scale(1.05) !important;
}

.book h2 {
  padding: 5px;
  font-size: 1em;
  transform-origin: 0% 0%;
  transform: rotate(0.25turn) translateY(-35px);
  width: 170px;
}

.book h3 {
  padding: 0;
  font-size: 0.6em;
  transform-origin: 0 0;
  transform: rotate(0.25turn) translateY(-15px) translateX(-20px);
  width: 150px;
}

.book-tilted {
  float: left;
  width: 74px;
}

.book-tilted > .book {
  transform: translateY(-3px) translateX(15px) rotate(9deg);
}

.book-green {
  background-color: darkgreen;
  border-left: 2px solid lighten(darkgreen, 4%);
  border-right: 2px solid darken(darkgreen, 4%);
}

.book-blue {
  background-color: $blue;
  border-left: 2px solid lighten($blue, 4%);
  border-right: 2px solid darken($blue, 4%);
}

.book-umber {
  background-color: $umber;
  border-left: 2px solid lighten($umber, 4%);
  border-right: 2px solid darken($umber, 4%);
}

.book-springer {
  background-color: $springer;
  border-left: 2px solid lighten($springer, 4%);
  border-right: 2px solid darken($springer, 4%);
  color: black;
}